<div class="modal fade" id="walletDepositModal" tabindex="-1" aria-labelledby="walletDepositLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-bg-success">
          <h1 class="modal-title fs-5" id="walletDepositLabel">Select an activity and Contribute</h1>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'member:from_wallet_to_select_activity' chama_id chama_name %}" method="POST" id="directDepositForm" novalidate>
            {% csrf_token %}
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Ksh:</span>
                <input type="number" class="form-control" id="amount" name="amount" min="1" required>
                <small class="error-message"></small>
                </div>
            </div>

            <div class="mb-3">
              <label for="activity_name" class="form-label">Activity Name</label>
              <select class="form-select" id="activity_title" name="activity_title" onchange="showOptions()">
                <option value="" selected disabled>Select Activity</option>
                {% for activity in chama_activities %}
                <option value="{{ activity.title }}">{{ activity.title }}</option>
                {% endfor %}
            </select>
              <small class="error-message"></small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success btn-sm" onclick="this.disabled=true; this.form.submit();">Contribute</button>
        </div>
        </form>
      </div>
    </div>
  </div>