<div class="modal fade" id="walletModal" tabindex="-1" aria-labelledby="walletLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="walletModalLabel">Wallet</h1>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'member:deposit_to_wallet' %}" method="POST" id="directDepositForm">
            {% csrf_token %}
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Ksh:</span>
                <input type="number" class="form-control" id="amount" name="amount" min="10" required>
                <small class="error-message"></small>
                </div>
            </div>

            <!-- select between withdrawal and deposit -->
            <div class="mb-3">
              <label for="transaction_type" class="form-label">Transaction Type</label>
              <select class="form-select" id="transaction_type" name="transaction_type" required>
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
              </select>

            <div class="mb-3">
              <label for="phonenumber" class="form-label">Phone number</label>
              <div class="input-group">
                <!-- <span class="input-group-text" id="basic-addon1">+254</span> -->
                <input type="number" class="form-control" id="phonenumber" name="phonenumber" minlength="10" maxlength="10" placeholder="0723456789" required>
                <small class="error-message"></small>
              </div>
            </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success btn-sm" onclick="this.disabled=true; this.form.submit();">Deposit</button>
        </div>
        </form>
      </div>
    </div>
  </div>