{% extends "chama/loginBase.html" %}
{% load static %}

{% block content %}
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'manager:dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static 'chama/img/favicon.png' %}" alt="">
        <span class="d-none d-lg-block">Manager</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>

    <!-- TODO: check if messages to notify chama creation success-->

    <nav class="header-nav ms-auto">

      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"><i>{{ current_role }}</i>
            <img src="{{ profile_picture }}" alt="Profile" class="rounded-circle img-fluid">
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ current_user }}</h6>
              <!-- <span>manager</span> -->
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% if current_role == "manager" %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'chama:switch_to' 'member' %}">
                <i class="bi bi-house"></i>
                <span>member dashboard</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'member:profile' manager_id %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'chama:signout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Pages</li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>search chamas</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Chamazangu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% if chamas %}
          {% for chama in chamas %}
          <li>
              <a href="{% url 'manager:chama' chama.chama_name %}">
              <i class="bi bi-circle"></i><span>{{ chama.chama_name }}</span>
            </a>
          </li>
          {% endfor %}
          {% else %}
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>no chamas available</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End chamas Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle d-flex justify-content-between align-items-center">
      <h1>Home</h1>
      <div class="search-bar">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="chama_created">
          {% for messages in messages %}
            <strong>{{ messages }}</strong>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
      </div>
      <!-- Button placed at the right end -->
      <button type="button" id="showFormBtn2" class="btn btn-primary btn-sm">New chama</button>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- creating chama form-->
            <!-- TODO: introduce js checks before submission refuse sql injection elements i.e undescore -->
            <div id="chamaForm" style="display: none;">
              <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card">

                  <div class="card-body">
                    <h5 class="card-title">Create a New Chama</h5>
                    <form action="{% url 'manager:create_chama' %}" method="post" id="createChamaForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="chama_name" class="form-label">Chama Name</label>
                            <input type="text" class="form-control" id="chama_name" name="chama_name" required>
                            <small class="error-message"></small>
                        </div>
                        <div class="mb-3">
                          <label for="chama_type" class="form-label">Chama Tags</label>
                          <input type="text" class="form-control" id="chama_tags" name="chama_tags" data-role="tagsinput" placeholder="e.g investment, saving, merry-go-round e.t.c" required>
                          <small class="error-message"></small>
                        </div>

                        <div class="mb-3">
                          <label for="category" class="form-label">Chama Category</label>
                          <select class="form-select" id="category" name="category" onchange="showOptions()">
                            <option value="private">Private</option>
                            <option value="public">Public</option>
                          </select>
                          <!-- helper message -->
                          <small id="categoryhelp" class="form-text text-muted"></small>
                        </div>
                        <!--TODO: limit to 500 characters check with javascript and notify the use with a message-->
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" minlength="30" maxlength="500" required></textarea>
                            <small id="descriptionHelp" class="form-text text-muted">min 50 characters and max 500 characters</small>
                            <small class="error-message"></small>
                        </div>

                        <div class="mb-3">
                            <label for="members_allowed" class="form-label">Maximum Number of Members</label> 
                            <div class="input-group">
                              <input type="number" class="form-control" id="members_allowed" name="members_allowed" placeholder="Enter number of members" min="2" required>
                              <div class="input-group-text">
                                <input class="form-check-input" type="checkbox" id="noLimit" name="noLimit" value="noLimit">
                                <label class="form-check-label ms-2" for="noLimit">No limit</label>
                              </div>
                            </div>
                            <small class="error-message"></small>
                        </div>
                        
                        
                        <div class="mb-3">
                          <label for="registration" class="form-label">Registration Fee</label>
                          <input type="number" class="form-control" id="registration" name="registration" placeholder="enter 0 if no registration fee" min="0" required>
                          <small class="error-message"></small>
                        </div>
                        <hr>
                        
                        <div class="mb-3">
                          <p><b>Deadline for joining the chama</b></p>
                          <label for="last_joining_date" class="form-label">Last day of joining</label>
                          <input type="date" class="form-control" id="last_joining_date" name="last_joining_date" required>
                        </div>

                        <!-- checkbox -->
                        <hr>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-sm" style="position: absolute; bottom: 10px; right: 10px">Create Chama</button>
                    </form>
                </div>
                
                </div>

              </div>
              <!-- frequency script -->
              <script>

                // DESCRIPTION CHARACTER COUNT
                document.getElementById('description').addEventListener('input', function() {
                var maxLength = 500;
                var currentLength = this.value.length;

                var charCountElement = document.getElementById('charCount');
                charCountElement.textContent = currentLength + '/' + maxLength + ' characters';

                // Display warning if the max length is reached
                if (currentLength >= maxLength) {
                    charCountElement.style.color = 'red';
                } else {
                    charCountElement.style.color = 'gray';
                }
            });

              document.getElementById('createChamaForm').addEventListener('submit', function(event) {
              var description = document.getElementById('description').value;
              if (description.length > 500) {
                  event.preventDefault(); // Prevent form submission
                  alert('Description exceeds 500 characters.');
              }
            });

            document.getElementById('members_allowed').addEventListener('input', function() {
            var noLimitCheckbox = document.getElementById('noLimit');
            if (this.value > 0) {
                noLimitCheckbox.disabled = true;
                noLimitCheckbox.checked = false; // Uncheck the checkbox if a number is entered
            } else {
                noLimitCheckbox.disabled = false;
            }
          });

            document.getElementById('noLimit').addEventListener('change', function() {
            var membersInput = document.getElementById('members_allowed');
            if (this.checked) {
                membersInput.value = ''; // Clear the input field when No Limit is checked
                membersInput.disabled = true;
            } else {
                membersInput.disabled = false;
            }
          });
            </script>
          </div> <!-- the id hiding the form-->

            <!-- chama Card -->
            {% if chamas %}
            {% for chama in chamas %}
            
            <div class="col-xxl-4 col-md-6">
              <a href="{% url 'manager:chama' chama.chama_name %}" style="text-decoration: none; color: inherit;">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">{{ chama.chama_name }} <span>| {% if chama.is_active == True %} active {% else %} not active {% endif %} </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ chama.member_count }} members</h6>

                    </div>
                  </div>
                </div>

              </div>
              </a>
            </div><!-- End chama Card -->
            {% endfor %}
            {% else %}
            <!-- if no chama -->
            <div class="col-xxl-4 col-xl-12">

              <div id="createForm" class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">no chamas available </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <span class="text-muted small pt-1 fw-bold">
                        Welcome to chamaZetu! It looks like you haven't created any chamas yet. Get started by creating your first chama now.
                      </span>

                    </div>
                  </div>
                  <button id="showFormBtn" class="btn btn-primary btn-sm" style="position: absolute; bottom: 10px; right: 10px">Create</button>
                </div>
              </div>

            </div><!-- End no chama available/create one Card -->
            {% endif %}

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- News & Updates Traffic -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Updates &amp; new products <span>| Latest</span></h5>
              {% if updates_and_features %}
              <div class="activity">
                {% for update in updates_and_features %}
                <div class="activity-item d-flex">
                  <i class='bi bi-grid activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    <p class="text-dark"><b>{{ update.feature_title }}:</b> {{ update.description }} </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <script>
    // notification
    document.addEventListener("DOMContentLoaded", function() {
  var chama_created = document.getElementById("chama_created");
  if (chama_created) {
    setTimeout(function() {
      chama_created.style.display = "none";
    }, 5000);
  }

  let buttons = ["showFormBtn", "showFormBtn2"]
  buttons.forEach(function(buttonid){
    var button = document.getElementById(buttonid);
    if (button) {
      button.addEventListener("click", function() {
        let form = document.getElementById("chamaForm");
        if (form) {
          if (form.style.display === "none") {
            form.style.display = "block";
          } else {
            form.style.display = "none";
          }
        } else {
          console.log("chamaForm not found");
        }
      });
    } else {
      console.log(buttonid + " not found");
    }
  });
});
  </script>


 {% endblock %}