{% extends "member/members_list_base.html" %}
{% load static %}

{% block content %} 
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="#"><span>chama</span>Zetu</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'member/img/logo.png' %}" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="{% url 'manager:dashboard' %}">Home</a></li>
                <li><a href="{% url 'manager:chama' chama_name %}" class="active">chama dashboard</a></li>
            </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

</div>
</header><!-- End Header -->

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
  </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h4>{{chama_name}} members</h4>
      <p>here is a list of all the members</p>
    </div>

<!-- ============================================== -->
<!-- TODO: managers to get buttons to remove members/suspend them and other member control features -->

  <div class="row container">
    {% for member in chama_members %}
    <div class="card border-success mb-3 ms-5" style="max-width: 18rem;">
      
      <div>
        <div class="icon-box">
          <i class="bi bi-person" style="color: #ffbb2c;"></i>
          <h3>{{ member.first_name }} {{ member.last_name }}</h3>
        </div>
      </div>
      <img src="{{ member.profile_picture }}" style="height: 150px; object-fit: cover;" class="card-img-top img-fluid" alt="profile">
      <div class="card-footer bg-transparent border-success">
        <p class="bi bi-twitter-x">{% if member.twitter != None %} {{ member.twitter }} {% endif %}</p>
        <p class="bi bi-facebook">{% if member.facebook != None %} {{ member.facebook }} {% endif %}</p>
        <p class="bi bi-linkedin">{% if member.linkedin != None %} {{ member.linkedin }} {% endif %}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- ================================================ -->

  </div>
</section><!-- End Features Section -->

</main><!-- End #main -->

  {% endblock %}