{% extends "chama/loginBase.html" %}
{% load static %}

{% block content %}
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'member:dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static 'chama/img/favicon.png' %}" alt="">
        <span class="d-none d-lg-block">Member</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <!-- <i class="bi bi-search"></i> -->
          </a>
        </li><!-- End Search Icon-->

        <!-- wallet trigger button - the modal body is in main section to avoid conflicts -->
        <li class="nav-item dropdown">

          <a class="nav-icon">
          <button type="button" class="btn btn-dark ri-coin-line" style="color: bisque;" data-bs-toggle="modal" data-bs-target="">
            ZetuCoins: {{ zetucoins }}
        </button>
          </a>

        </li>
        <!-- End Wallet Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"><i>{{ current_role }}</i>
            <img src="{{ profile_picture }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ current_user.current_user }}</h6>
              <!-- <span>{{ current_role }}</span> -->
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% if current_role == 'member' %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'chama:switch_to' 'manager' %}">
                <i class="bi bi-house"></i>
                <span>manager dashboard</span>
              </a>
            </li>
            {% endif %}
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'member:profile' current_user.user_id %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'chama:signout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

    <style>
      #walletForm {
        background-color: #e9f7ff; /* Light blue background */
        border: 1px solid #007bff; /* Blue border */
        color: #333;
      border-radius: 10px; /* Rounded corners for the card */
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
      transition: transform 0.3s; /* Smooth hover effect */
    }

    #walletForm:hover {
      transform: scale(1.02); /* Slightly enlarge on hover */
    }

    .input-group-text {
      background-color: #f8f9fa; /* Light background for input group */
    }

    .btn-outline-success {
      background-color: #28a745; /* Green background for success button */
      color: white; /* White text */
    }

    .btn-outline-danger {
      background-color: #dc3545; /* Red background for danger button */
      color: white; /* White text */
    }

    .alert {
      border-radius: 5px; /* Slightly rounded corners for alert */
    }

    .error-message {
      color: red; /* Red color for error messages */
      font-size: 0.875rem; /* Smaller font for error messages */
    }

    </style>

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>chamazangu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% if chamas %}
          {% for chama in chamas %}
          <li>
              <a href="{% url 'member:access_chama' chama.chama_name chama.chama_id %}">
              <i class="bx bx-group"></i><span>{{ chama.chama_name }}</span>
            </a>
          </li>
          {% endfor %}
          {% else %}
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>no chamas available</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'chama:chamas' %}">
          <i class="bi bi-people"></i><span>View chamas</span>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider" style="color: red;">
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#selfServiceForm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="selfServiceForm">
          <i class="ri-question-line"></i><span>Self Service</span>
        </a>
        
        </div>
        <div class="collapse" id="selfServiceForm">
          <div class="alert alert-info">
            <strong>Notice:</strong>Ensure atleast 5 minutes have passed since the transaction was made.
          </div>
          <form class="p-3" action="{% url 'member:fix_mpesa_to_wallet_deposit' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="fix_amount" class="form-label">Deposited Amount</label>
              <input type="number" class="form-control form-control-sm me-2" id="fix_amount" name="fix_amount" required>
            </div>
            <div class="mb-3">
              <label for="receipt_number" class="form-label">Mpesa Receipt Number</label>
              <input type="text" class="form-control form-control-sm me-2" id="receipt_number" name="receipt_number" placeholder="mpesa code i.e SID7HI18" required>
            </div>
            <div class="mb-3">
              <label for="phone_number" class="form-label">Phone Number</label>
              <input type="text" class="form-control form-control-sm me-2" id="phone_number" name="phone_number" minlength="10" maxlength="10" placeholder="0712345678" required>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-sm btn-outline-success">Fix Transaction</button>
          </div>
          </form>
        </div>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="chama_created">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="pagetitle d-flex justify-content-between align-items-center">
      <h1>Home</h1>
      <button type="button" id="transactionFormBtn" class="btn btn-dark bi bi-wallet"> Ksh: {{ wallet_balance }}</button>
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8"> <!-- Left side columns -->
          <div class="row">

            <!-- wallet form -->
            <div class="col-12">
              <div class="card" id="walletForm" style="display: none;">
                <div class="card-body">
                  <!-- <button type="button" class="btn-close btn-sm" style="position: absolute; top: 10px; right: 10px;" onclick="document.getElementById('walletForm').style.display = 'none';" aria-label="Close"></button> -->
                    <div class="pagetitle d-flex justify-content-between align-items-center">
                      <h5 class="card-title" style="font-weight: bold; font-size: 1.5rem;" >Wallet</h5>
                      <h5 class="card-title" style="font-weight: bold; font-size: 1.5rem;" >{{ wallet_id }}</h5>
                    </div>
                  <form class="p-3" action="{% url 'member:wallet_transactions' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="amount" class="form-label">Amount</label>
                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Ksh:</span>
                        <input type="number" class="form-control" id="amount" name="amount" min="10" required>
                        <small class="amount-error-message"></small>
              
                      </div>
                    </div>

                    <!-- select between withdrawal and deposit -->
                    <div class="mb-3">
                      <label for="transaction_type" class="form-label">Transaction Type</label>
                      <select class="form-select" id="transaction_type" name="transaction_type" required>
                        <option value=""></option>
                        <option value="deposit">Top Up Wallet</option>
                        <option value="withdrawal">Send To Mpesa</option>
                        <option value="transfer">Wallet Transfer</option>
                      </select>
                      <small id="feeNotification" class="success-message"></small>
                      <!-- small script to notify users that normal mpesa charges apply when withdrawing-->
                      <script>
                        document.getElementById("transaction_type").addEventListener("change", function() {
                          let transaction_type = document.getElementById("transaction_type").value;
                          let feeSection = document.getElementById("feeSection");
                          let feeAmount = document.getElementById("feeAmount");
                          let feeNotification = document.getElementById("feeNotification");
                          let phoneNumber = document.getElementById("phoneNumber");
                          let walletNumber = document.getElementById("walletNumber");

                          if (transaction_type === "withdrawal") {
                            feeSection.style.display = "block";
                            feeNotification.innerHTML = "Please note that normal mpesa charges apply.";
                          } else {
                            feeSection.style.display = "none";
                            feeNotification.innerHTML = "";
                          }

                          // changing the label text based on transaction type
                          if (transaction_type === "transfer"){
                            phoneNumber.style.display = "none";
                            walletNumber.style.display = "block";
                            //make it required
                            document.getElementById("walletnumber").required = true;
                            // make phone number not required
                            document.getElementById("phonenumber").required = false;
                          } else {
                            phoneNumber.style.display = "block";
                            walletNumber.style.display = "none";
                            //make it required
                            document.getElementById("phonenumber").required = true;
                            // make wallet number not required
                            document.getElementById("walletnumber").required = false;
                          }
                        });
                      </script>
                    </div>

                    <div class="mb-3" id="phoneNumber" style="display: none;">
                      <label for="phonenumber" id="phoneNumberLabel" class="form-label">Phone Number</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="phonenumber" name="phonenumber" minlength="10" placeholder="0723456789">
                        <br/><small class="phone-error-message"></small>
                      </div>
                    </div>

                    <!-- wallet transfer -->
                    <div class="mb-3" id="walletNumber" style="display: none;">
                      <label for="phonenumber" id="walletNumberLabel" class="form-label">Recipient Wallet Number</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="walletnumber" name="walletnumber" minlength="6" placeholder="WRM1232">
                        <br/><small class="wallet-error-message"></small>
                      </div>
                    </div>

                    <!-- fee display for withdrawal -->
                    <div class="mb-3" id="feeSection" style="display: none;">
                      <label for="fee" class="form-label">Transaction Fee</label>
                      <div class="alert alert-info">
                        The fee for this transaction will be: <strong><span id="feeAmount">0</span> KES</strong>.
                      </div>
                    </div>

                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-danger btn-sm" style="margin-right: 12px;" onclick="document.getElementById('walletForm').style.display = 'none';">Close</button>
                      <button type="submit" class="btn btn-outline-success btn-sm">Confirm Transaction</button>
                    </div>
                  </form>

                  <script>
                    document.getElementById("amount").addEventListener("input", function() {
                      let amount = parseFloat(document.getElementById("amount").value);
                      let feeAmount = document.getElementById("feeAmount");
                  
                      // Define your fee table ranges and fees
                      const feeTable = [
                        { from: 1, to: 100, fee: 0 },
                        { from: 101, to: 500, fee: 7 },
                        { from: 501, to: 1000, fee: 10 },
                        { from: 1001, to: 1500, fee: 20 },
                        { from: 1501, to: 2500, fee: 30 },
                        { from: 2501, to: 3500, fee: 40 },
                        { from: 3501, to: 5000, fee: 50 },
                        { from: 5001, to: 7500, fee: 60 },
                        { from: 7501, to: 10000, fee: 70 },
                        { from: 10001, to: 15000, fee: 80 },
                        { from: 15001, to: 20000, fee: 90 },
                        { from: 20001, to: 35000, fee: 90 },
                        { from: 35001, to: 50000, fee: 90 },
                        { from: 50001, to: 250000, fee: 90 }
                      ];
                  
                      // Default fee if amount is out of range
                      let fee = "N/A";
                  
                      // Find the fee for the input amount
                      for (let i = 0; i < feeTable.length; i++) {
                        if (amount >= feeTable[i].from && amount <= feeTable[i].to) {
                          fee = feeTable[i].fee;
                          break;
                        }
                      }
                  
                      // Update the fee in the HTML
                      feeAmount.innerHTML = fee;

                      // display error message if amount is less than 10
                      // display error message if phone number is less than 10 digits
                    });
                  </script>
                  

                </div>
              </div>
            </div>
            
            <!-- End wallet form -->



            <!-- chama Card -->
            {% if chamas %}
            {% for chama in chamas %}
            <div class="col-xxl-4 col-md-6">
              <a href="{% url 'member:access_chama' chama.chama_name chama.chama_id %}" style="text-decoration: none; color: inherit;">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title" style="color: aquamarine;" >{{ chama.category }} <span>|</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bx bx-group"></i>
                    </div>
                    <div class="ps-3" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                      <h6>{{ chama.chama_name }}</h6>

                    </div>
                  </div>
                </div>

              </div>
              </a>
            </div><!-- End chama Card -->
            {% endfor %}
            {% else %}

            <!-- no chamas joined Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">no chamas</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <span class="text-danger small pt-1 fw-bold">
                        Welcome to chamaZetu! It looks like you haven't joined any chamas yet. Click the button below to join a chama.
                      </span>

                    </div>
                  </div>
                  <hr>
                  <a href="{% url 'chama:chamas' %}" class="btn btn-outline-primary btn-sm" style="position: absolute; bottom: 10px; right: 10px">View chamas</a>

                </div>
              </div>

            </div><!-- End no chamas Card -->
            {% endif %}

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">My Recent Chama Transactions <span>|</span></h5>
                  {% if my_recent_transactions %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Activity Name</th>
                        <th scope="col">Activity Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    {% for transaction in my_recent_transactions %}
                    <tbody>
                      <tr>
                        <th scope="row">{{ transaction.activity_title }}</th>
                        <td>{{ transaction.activity_type }}</td>
                        <td>{{ transaction.transaction_amount }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.transaction_date }}</td>
                        <td>{{ transaction.transaction_time }}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                  {% endif %}

                </div>

              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- News & Updates Traffic -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Wallet Top Up <span>| inbound </span></h5>
              {% if recent_wallet_activity %}
              <div class="activity">
                {% for activity in recent_wallet_activity %}

                <div class="activity-item d-flex">
                  <i class='ri-arrow-left-right-line align-self-start'></i>
                  <div class="activity-content">
                    <p class="text-dark">{{ activity.transaction_type }} Ksh {{ activity.transaction_amount }} on {{ activity.transaction_date }} at {{ activity.transaction_time }} <!--from {{ activity.transaction_origin }}--> </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

            </div>
          </div>

          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Wallet Transfers <span>| outbound </span></h5>

              {% if sent_transactions %}
              <div class="activity">
                {% for transaction in sent_transactions %}

                <div class="activity-item d-flex">
                  <i class='ri-arrow-left-right-line align-self-start'></i>
                  <div class="activity-content">
                    <p class="text-dark">sent Ksh {{ transaction.transaction_amount }} on {{ transaction.transaction_date }} at {{ transaction.transaction_time }} to {{ transaction.receiver_name }} {{ transaction.receiver_phone }} </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

              {% if wallet_transfers %}
              <div class="activity">
                {% for transfer in wallet_transfers %}

                <div class="activity-item d-flex">
                  <i class='ri-arrow-left-right-line align-self-start'></i>
                  <div class="activity-content">
                    <p class="text-dark">{{ transfer.transaction_type }} Ksh {{ transfer.transaction_amount }} on {{ transfer.transaction_date }} at {{ transfer.transaction_time }} to {{ transfer.transaction_destination }} </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

            </div>
          </div>

          <div class="card">

            <div class="card-body">
              <h5 class="card-title">new products & features <span>|</span></h5>
              {% if investment_activity %}
              <div class="activity">
                {% for activity in investment_activity %}

                <div class="activity-item d-flex">
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    <p class="text-dark">{% if activity.transaction_type == 'deposit' %} Invested {% else %} Withdrew {% endif %} Ksh: {{ activity.amount }} on {{ activity.date }} at {{ activity.time }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

            </div>
          </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>
      <!-- MODALS -->
    <!-- wallet Modal -->
  </main><!-- End #main -->

  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let buttons = ["transactionFormBtn"];
      buttons.forEach(function(buttonid){
        var button = document.getElementById(buttonid);
        if (button) {
          button.addEventListener("click", function() {
            let form = document.getElementById("walletForm");
            if (form) {
              if (form.style.display === "none") {
                form.style.display = "block";
              } else {
                form.style.display = "none";
              }
            } else {
              console.log("transaction form not found");
            }
          });
        } else {
          console.log(buttonid + " not found");
        }
      });
  });
  </script>




 {% endblock %}