{% extends "chama/base.html" %}
{% load static %}
{% block title %}chamaZetu{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->


  <!-- #hero -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container d-flex justify-content-between align-items-center">
      <h5>{{ chama.chama_name }} | {{chama.chama_type }}</h5>
      {% if role %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#joinChamaModal">
        join {{ chama.chama_name }}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="joinChamaModal" tabindex="-1" aria-labelledby="joinChamaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="joinChamaModalLabel">Become a member</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'member:join' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="chamaname" class="form-label">Chama Name</label>
                  <input type="text" class="form-control" id="chamaname" name="chamaname" value="{{ chama.chama_name}}" readonly required>
                </div>
                <div class="mb-3">
                  <label for="registration_fee" class="form-label">Registration Fee</label>
                  <input type="number" class="form-control" id="registration_fee" name="registration_fee" value="{{chama.registration_fee}}" required readonly>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Amount you have to pay to prior to becoming a member</div>
                </div>
                <div class="mb-3">
                  <label for="phone_number" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="phone_number" name="phone_number" minlength="9" maxlength="9" required>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Phone number to pay from.</div>
                </div>
                <div class="mb-3">
                  <label for="shares" class="form-label">Number of shares</label>
                  <input type="number" class="form-control" id="shares_num" name="shares_num" value="1" min="1" required>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Enter the number of shares you want to have in this chama</div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success btn-sm">pay and join</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <a type="button" href="{% url 'chama:signin' 'member' %}" class="btn btn-dark">Login to join</a>

      {% endif %}
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="chama_created">
          {% for messages in messages %}
            <strong>{{ messages }}</strong>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row">
          
          <div class="card" style="width: 18rem;">
            <img src="{{ manager.profile_image }}" class="img-fluid" alt="">
            <div class="card-body">
              <h5 class="card-title">manager: {{ manager.first_name }} {{ manager.last_name }}</h5>
              <p class="bi bi-twitter-x">{% if manager.twitter_handle != 'N/A' %} {{ manager.twitter_handle }} {% endif %}</p>
              <p class="bi bi-facebook">{% if manager.facebook_handle != 'N/A' %} {{ memmanagerber.facebook_handle }} {% endif %}</p>
              <p class="bi bi-linkedin">{% if manager.linkedin_handle != 'N/A' %} {{ manager.linkedin_handle }} {% endif %}</p>
              
              <!-- <a href="#" class="btn btn-primary">all chamas they manage</a> for now we will let users search the all chamas page by manager -->
            </div>
          </div>

          <!-- <div class="col-lg-6">
            <img src="{% static 'chama/img/chamablog/about-img.jpg' %}" class="img-fluid" alt="">
          </div> -->

          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>{{ chama.chama_name }}</h3>
            <p class="fst-italic">
              chama overview.
            </p>
            <ul>
              <li>Maximum number of members allowed: {% if chama.num_of_members_allowed == 'infinite' %}no limit {% else %} {{ chama.num_of_members_allowed }} {% endif %} </li>
              <!-- <li>Minimum number of members required: {{ chama.min_num_of_members }} </li> -->
              <!-- <li>Chama creation date: {{ chama.registration_date }} </li> -->
              <!-- <li>number of members so far</li> -->
              <li>Registration fee: {{ chama.registration_fee }}</li>
              <li>Contribution per share: {{ chama.contribution_amount }} </li>
              <li>Contribution intervals: {{ chama.contribution_interval }} </li>
              <li>Chama contribution day: {{ chama.contribution_day }} </li>
              <li>Chama type: {{ chama.chama_type }} </li>
            </ul>
            <p>
              {{ chama.description }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default mission image -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-1.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-book-reader"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text"> {{ mission }} </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default images for plan and mission -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-3.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-landscape"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">{{ vision }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
              <div class="card mt-5">
                <h5 class="card-title"><a href="">Our Rules</a></h5>
                <ul class="list-group list-group-flush">
                  {% for rule in rules %}
                  <li class="list-group-item">{{ rule }}</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>



      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ====== -->

    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequenty Asked Questions</h2>
        </div>

        <ul class="faq-list">

          {% for faq in faqs %}
          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">{{ faq.question }} <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{ faq.answer }}
              </p>
            </div>
          </li>
          {% endfor %}

        </ul>

      </div>
    </section> <!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <!-- End Contact Us Section -->

  </main><!-- End #main -->

 {% endblock %}