{% extends "chama/base.html" %}
{% load static %}
{% block title %}chamaZetu{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->


  <!-- #hero -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container d-flex justify-content-between align-items-center">
      <h5>{{ chama.chama_name }} | {{chama.chama_type }}</h5>
      {% if role %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#joinChamaModal">
        join {{ chama.chama_name }}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="joinChamaModal" tabindex="-1" aria-labelledby="joinChamaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-bg-success">
              <h1 class="modal-title fs-5" id="joinChamaModalLabel">Become a member</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'member:join' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="chamaname" class="form-label">Chama Name</label>
                  <input type="text" class="form-control" id="chamaname" name="chamaname" value="{{ chama.chama_name}}" readonly required>
                </div>
                <div class="mb-3">
                  <label for="registration_fee" class="form-label">Registration Fee</label>
                  <input type="number" class="form-control" id="registration_fee" name="registration_fee" value="{{chama.registration_fee}}" required readonly>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Amount you have to pay prior to becoming a member</div>
                </div>
                <div class="mb-3">
                  <label for="phone_number" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="0712345678" minlength="10" maxlength="10" required>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Phone number to pay from.</div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success btn-sm">pay and join</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <a type="button" href="{% url 'chama:signin' %}" class="btn btn-dark">Login to join</a>

      {% endif %}
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="chama_created">
          {% for messages in messages %}
            <strong>{{ messages }}</strong>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row">
          
          <div class="col-lg-3">
            <div class="card" >
              <img src="{{ manager.profile_image }}" class="img-fluid" alt="">
              <div class="card-body">
                <h5 class="card-title">manager: {{ manager.name }}</h5>
                <p class="bi bi-twitter-x">{% if manager.twitter_handle != 'N/A' %} {{ manager.twitter_handle }} {% endif %}</p>
                <p class="bi bi-facebook">{% if manager.facebook_handle != 'N/A' %} {{ memmanagerber.facebook_handle }} {% endif %}</p>
                <p class="bi bi-linkedin">{% if manager.linkedin_handle != 'N/A' %} {{ manager.linkedin_handle }} {% endif %}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
          <div class="card mb-3" style="height: 355px;">
            <div class="card-header text-bg-success">Description</div>
            <div class="card-body" style="overflow-y: auto;">
              Created on: {{ chama.date_created }}<br/>
              <hr>
              <p class="card-text">{{ chama.description }}</p>
            </div>
          </div>
          </div>

          <div class="col-lg-5">
            <div class="card mb-3" style="height: 355px;">
              <div class="card-header text-bg-success">Activities</div>
              <div class="card-body" style="overflow-y: auto;">
                {% for activity in activities %}
                <ol class="list-group ">
                  <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold text-info">{{activity.type}}</div>
                      Created on: {{ activity.creation_date }}<br/>
                      Contribution amount per share: Ksh {{activity.amount}}<br/>
                      Late contribution fine per share: Ksh {{activity.fine}}<br/>
                      Contribution frequency: {{activity.frequency}}<br/>
                    </div>
                    <span class="badge text-bg-primary rounded-pill"></span>
                  </li>
                </ol>
                {% endfor %}

              </div>

            </div>
          </div>
        </div>

          
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default mission image -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-1.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-book-reader"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text"> {{ about.mission }} </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default images for plan and mission -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-3.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-landscape"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">{{ about.vision }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
              <div class="card mt-5">
                <h5 class="card-title"><a href="">Our Rules</a></h5>
                <ul class="list-group list-group-flush">
                  {% for value in rules.values %}
                  <li class="list-group-item"> {{ value }} </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>



      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ====== -->

    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequenty Asked Questions</h2>
        </div>

        <ul class="faq-list">

          {% for faq in faqs %}
          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">{{ faq.question }} <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{ faq.answer }}
              </p>
            </div>
          </li>
          {% endfor %}

        </ul>

      </div>
    </section> <!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <!-- End Contact Us Section -->

  </main><!-- End #main -->

 {% endblock %}