{% extends "chama/base.html" %}
{% load static %}
{% block title %}chamaZetu{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->


  <!-- #hero -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container d-flex justify-content-between align-items-center">
      <h5>{{ chama.chama_name }} | {{chama.chama_type }}</h5>
      {% if role %}
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#joinChamaModal">
        join {{ chama.chama_name }}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="joinChamaModal" tabindex="-1" aria-labelledby="joinChamaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="joinChamaModalLabel">Become a member</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'member:join' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="chamaname" class="form-label">Chama Name</label>
                  <input type="text" class="form-control" id="chamaname" name="chamaname" value="{{ chama.chama_name}}" readonly required>
                </div>
                <div class="mb-3">
                  <label for="shares" class="form-label">Number of shares</label>
                  <input type="number" class="form-control" id="shares_num" name="shares_num" value="1" min="1" required>
                  <!-- helper message to the user -->
                  <div id="shares_num" class="form-text">Enter the number of shares you want to have in this chama</div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success btn-sm">Become a member</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <button type="button" class="btn">Login to join</a>

      {% endif %}
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="chama_created">
          {% for messages in messages %}
            <strong>{{ messages }}</strong>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'chama/img/chamablog/about-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>{{ chama.chama_name }} | {{ chama.num_of_members_allowed }} </h3>
            <p class="fst-italic">
              chama overview.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i>Registration fee: {{ chama.registration_fee }}</li>
              <li><i class="bx bx-check-double"></i>Contribution per share: {{ chama.contribution_amount }} </li>
              <li><i class="bx bx-check-double"></i>Contribution intervals: {{ chama.contribution_interval }} </li>
            </ul>
            <p>
              {{ chama.description }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default mission image -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-1.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-book-reader"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="card">
                <!-- default images for plan and mission -->
              <!-- <img src="{% static 'chama/img/chamablog/why-us-3.jpg' %}" class="card-img-top" alt="..."> -->
              <div class="card-icon">
                <i class="bx bx-landscape"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ====== -->

    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequenty Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section> <!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <!-- End Contact Us Section -->

  </main><!-- End #main -->

 {% endblock %}